body {
    background-color: burlywood;
}

.btn {
    cursor: pointer;
}
body {
    color: brown;
}

.clicked {
    color: blue;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}
